<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=GF75-THIN-9RCX\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyThuVien.Properties.Settings.LibraryConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Chung2vn\OneDrive\Documents\HK1-2021-2022\CNPM\QuanLyThuVien\CSDL\Library.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>